# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
*.iml

Hotel/ApplicationCore/ApplicationServices/target/

Hotel/ApplicationCore/DomainModel/target/

Hotel/ApplicationPorts/target/

Hotel/UserInterface/UIControllers/target/

Hotel/UIPorts/target/

Hotel/SoapPorts/target/

Hotel/RestServices/target/

Hotel/RestPorts/target/

Hotel/RepositoriesAdapters/target/

Hotel/SoapServices/target/

Hotel/SoapModel/target/

UserService/ApplicationCore/ApplicationServices/target/

UserService/ApplicationPorts/target/

UserService/RepositoriesAdapters/target/

UserService/ApplicationCore/DomainModel/target/

UserService/MQController/target/
